.py-1{
    padding:1.5rem 0;
}

.py-2{
    padding:2rem 0; 
}

.py-3{
    padding:3rem 0;
}
.p-1{
    padding:1.5rem;
}

.p-2{
    padding:2rem; 
}

.p-3{
    padding:3rem;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background:linear-gradient(to right,#0e466e,#0a557c,#086489,#0c7396,#1683a1);
    color:#fff;
    justify-content: center;
    z-index: 1;
    /* padding:1rem; */
    text-align: center;
}
.w-full {
    width: 100%;
}

.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.absolute {
    position: absolute;
}
.h-full {
    height: 100%;
}
.bg-opacity-60 {
    opacity: 0.6;
}
.bg-black {
    --bg-opacity: 1;
    background-color: #000;
    background-color: rgba(0,0,0,var(--bg-opacity));
}

.relative {
    position: relative;
}
.h-160 {
    height: 39rem;
}

/* div {
    display: block;
} */

.hero-block-video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    height: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
img, video{
    display: block;
    
}


video {
    object-fit: contain;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* overlay */
    position: absolute;
    /* top: 65px; */
    left: 0;
    right: 0;
    bottom: 0;
    color:#fff;
    /* background-color: rgba(0,0,0, .4); */
}

.lead{
    font-size: 1.3rem;
    margin: 2rem;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}
/* .btn{
    display: inline-block;
    color:#fff;
    background: linear-gradient(to right,#0e466e,#0a557c,#086489,#0c7396,#1683a1);
    padding: .5rem 2rem;
    border:none;
    border-radius: 5px;
} */


.btn-dark{
    background:#333;
    color:#fff;
}

.container {
    padding: 5rem;
}
.content{
    max-width: 1100px;
    margin:auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.bg-dark{
    background: linear-gradient(to right,#0e466e,#0a557c,#086489,#0c7396,#1683a1);
    color:#fff;
}

/* #what .items .item{
    flex:1;
    text-align: center;
    padding:1rem;
}
#what .items .item i {
    background:linear-gradient(to right,#0e466e,#0a557c,#086489,#0c7396,#1683a1);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    color:#fff;
} */

#info {
    font-size: 1.5rem;
}

.visibility {
    background-color: aqua;
}

.weather {
    border: #333 solid 2px;
}

.available-bodies {
    /* background-color: #1683a1; */
}

.card-content {
    width: 100%;
}

h4 {
    margin: 5px 0;
}